# NOISEMAP files
*.shp.xml
*.i10
*.log
*.o10
*.i11
*.o11
*.grd
*.ops
*.opx
*.run
*.nmp
*.lock
*.poi
simulation/baseops/*/*.dbf
simulation/baseops/*/*.prj
simulation/baseops/*/*.shp
simulation/baseops/*/*.shx
simulation/baseops/*/*.ins
simulation/baseops/*/*.inx
analysis/preprocessing/_output/*/*.vrt
analysis/preprocessing/_output/*/*.gpkg
analysis/_output/health_impact_stack.gri
analysis/preprocessing/_output/pop_county_stack.gri
analysis/preprocessing/_output/pop_exposure_stack.gri
analysis/population_noise_exposure/_output

# Intermediate output files
data/load/_output

# Binary image files
*.jpg
*.jpeg
*.png

# Apple files
.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
